@mixin flexbox()
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex

@mixin flex-row()
    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    align-items: center

@mixin flex($dir : row, $justify : center, $alignCont : center, $alignItems : center)
    display: flex
    flex-direction: #{$dir}
    justify-content: #{$justify}
    align-content: #{$alignCont}
    align-items: #{$alignItems}
