@import url('https://fonts.googleapis.com/css?family=Raleway:400,600')
@import url('https://fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i|Lato:400,700,900')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700')

$font-btn-max : 55px
$font-btn-min : 22px

@mixin font-smoothing($value: on)
    @if $value == on
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        text-rendering: optimizeLegibility
    @else
        -webkit-font-smoothing: subpixel-antialiased
        -moz-osx-font-smoothing: auto
        text-rendering: optimizeLegibility

@mixin font-mix($family, $color, $size : 1em, $weight : normal, $style : normal)
    font-family: #{$family}, sans-serif
    color: #{$color}
    font-size: #{$size}
    font-weight: #{$weight}
    font-style: #{$style}
// @import url('https://fonts.googleapis.com/css?family=Lobster')
// @import url('https://fonts.googleapis.com/css?family=Titillium+Web:200')
