@import url('https://fonts.googleapis.com/css?family=Raleway')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900')
@import url('https://fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i|Lato:400,700,900')

@mixin font-smoothing($value: on)
    @if $value == on
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        text-rendering: optimizeLegibility
    @else
        -webkit-font-smoothing: subpixel-antialiased
        -moz-osx-font-smoothing: auto
        text-rendering: optimizeLegibility

$font-btn-max : 55px
$font-btn-min : 22px
// @import url('https://fonts.googleapis.com/css?family=Lobster')
// @import url('https://fonts.googleapis.com/css?family=Titillium+Web:200')
