/** Classes added in the JavaScript code */
.scrollable
    overflow-y: auto

.selected-menu-item
    &::after, &::before
        opacity: 1
        transform: translateX(0px)

.visible-menu-item
    margin-top: 0 !important

.minified-section
    height: 80vh !important
