// $sunshine: #F9BA32
// $steelblue: #426E86
// $bone: #F8F1E5
// $coal: #2F3131

//$punch: #ce5a57
$pinkEraser: #E05858
$powderBlue: #A5C3CF
$peach: #f4736d
$nectar: #eab364
$brownish: rgba(146, 74, 72, 0.64)
$gradient-main: linear-gradient(#E99787, #E05858)
$gradient-second: linear-gradient(#2988BC, #2F496E)

$shadow : #727077
