$gray : #727077
$redish : #ff6c6c
$redish_shadow: #e05858
$canteloupe: #FFA577
$canteloupe_shadow: #d6794b
$yellow: #F4CC70
$yellow_shadow: #f59500
$mint: #BFDCCF
$mint_shadow: #69a289
$blue: #90AFC5
$blue_shadow: #3c6ca2
$smoke: #C0B2B5
$smoke_shadow: #867c7e
$pinkish: #EC96A4
$pinkish_shadow: #da5b70

$highligh-yellow: #ffeb9a
$cyan: #00CFFA
$linkedIn : #007bb6

$fig: #4c3f54
$cheese: #F2C057
$blueish: #92AAc7
$greenish: #A1BE95
