// $sunshine: #F9BA32
// $steelblue: #426E86
// $bone: #F8F1E5
// $coal: #2F3131

//$punch: #ce5a57
$peach: #f4736d
$nectar: #eab364
$brownish: rgba(146, 74, 72, 0.64)
$gradient-main: linear-gradient(#f8e09b, #fbd7de)
$gradient-second: linear-gradient(#2988BC, #2F496E)
