@import flexbox
@import main-colors
@import jsClasses

.navbar
    position: fixed
    top: 0
    z-index: 1
    width: 100vw
    line-height: 5vh
    //background-color: $nectar
    //box-shadow: 0px 1px 3px #924a48
    font-family: 'Raleway', sans-serif
    font-size: 1em

    >.navbar-list
        @include flex-row()
        list-style: none
        margin: 0
        padding: 0
        overflow: hidden
        padding-bottom: 5px

        >li
            width: 15vw
            text-align: center

            >a
                color: rgba(146, 74, 72, 0.64)
                letter-spacing: 0.2em
                text-transform: uppercase
                padding-bottom: 6px
                //text-shadow: 0px 1px 1px #562322

                &:link, &:visited
                    text-decoration: none

                &:hover, &:active, &:focus
                    cursor: pointer
                    font-weight: bolder

                    &::after, &::before
                        @extend %selected-menu-item

                &::after, &::before
                    display: inline-block
                    opacity: 0
                    transition: transform 0.3s, opacity 0.2s

                &::after
                    margin-left: 10px
                    content: ']'
                    transform: translateX(-20px)

                &::before
                    margin-right: 10px
                    content: '['
                    transform: translateX(20px)
