%html_body_defaults
    height: 100%
    width: 100%
    font-family: "Raleway", sans-serif
    font-size: 100%
    margin: 0
    box-sizing: border-box
    overflow-x: hidden

%anchors_defaults
    text-decoration: none

    &:hover
        cursor: pointer

%highlight
    color: rgba(255, 82, 82, 1)
    // text-shadow: 0px 1px 2px rgba(255, 82, 82, 0.52)
