::-webkit-scrollbar
    background-color: rgba(0, 0, 0, .15)
    border-radius: 8px
    width: 8px

    &:hover
        width: 11px
        cursor: pointer

::-webkit-scrollbar-thumb
    background-color: rgba(0, 0, 0, .1)
    border: 1px solid rgba(85, 85, 85, .3)
    border-radius: 7px
