@import fonts
@import mobile
@import placeholders
@import text-effects
@import scrollbar
@import menu
@import animation
@import jsClasses

html
    @extend %default_html_body

    body
        @extend %default_html_body
        overflow-y: auto

*
    &::after, &::before
        box-sizing: border-box

#home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    height: 100vh
    background-color: white
    //background-image: url(../../img/bg7.png)
    color: $shadow
    z-index: -1
    position: relative
    transition: height 1s ease

    &.shape
        position: absolute
        top: 50%
        right: -12%
        z-index: 1
        width: 100%
        max-width: 800px
        min-width: auto

    //animation: bg-color-change 6s linear 0s infinite alternate running
        // size: cover
        // //image: url(../../img/tam.jpg)
        // color: $peach
        // position: top center
        // attachment: fixed

    #title
        position: absolute
        width: 100%
        font-size: 3em
        text-align: center
        font-family: 'Titillium Web', sans-serif

        @media screen and (max-width: $break-small)
            text-align: left
            font-size: 2em
            padding-left: 15px

        @media screen and (max-width: $break-medium) and (orientation: landscape)
            text-align: center
            font-size: 2em
            padding-left: 0


        #greeting
            transition: all 0.3s ease
            width: 90vw
            display: inline
        #cursor
            width: 10vw
            animation: blink-cursor 0.8s linear infinite
            display: inline

.content
    padding: 0
    text-align: center
    margin: 0 auto
    height: 70vh
    width: 100vw

#skills
    background-color: royalblue
    display: flex

    >.large-container
        background-color: deepskyblue
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        height: 100%
        width: 100%

        >.small-container
            background-color: yellow
            width: 200px
            height: 250px

#contact
    background-color: #333

#about
    display: flex
    flex-direction: column
    color: #FE667B
    font-family: "Raleway"
    font-weight: light
    z-index: 10
    width: 100vw
    height: 80vh
    // background-color: #B3DBc0
    // background-image: url(../../img/bg4.png)
    margin: 0 0
    position: relative

    >.wrapper
        width: 60%
        height: 90%
        background-color: #fdede5
        opacity: 0
        margin-left: auto
        margin-right: auto
        transition: margin 1s ease, opacity 1s ease
        box-shadow: 0px 0px 6px 0px #727077

.holder-navigation
    position: fixed
    right: 5vw
    height: 100%
    z-index: 9000

    & ul.navigation
        position: absolute
        top: 42%
        //transform: translateY(-50%)
        list-style: none
        padding: 10px

        & .nav-item
            margin-bottom: 30px
            cursor: pointer

            & a
                transform-origin: center center
                display: inline-block
                width: 20px
                height: 20px
                border: 3px solid #e05858
                background-color: transparent
                border-radius: 50%
                transition: all .5s
                transform: scaleX(0.5) scaleY(0.5)
                outline: none
