@import text-effects
@import scrollbar

html, body
    height: 100%
    width: 100%
    font-family: "Raleway", sans-serif
    margin: 0
    box-sizing: border-box

.intro
    display: flex
    flex-direction: column
    justify-content: center
    position: relative
    height: 100vh
    z-index: -2
    background:
        size: cover
        image: url(../../img/header-img.jpg)
        position: top center
        attachment: fixed

    .overlay
        z-index: 1
        height: inherit
        width: inherit
        background-color: rgba(0, 0, 0, 0.1)

    #title
        position: absolute
        text-transform: uppercase
        align-self: center
        font-size: 2em
        text-align: center
        margin: 0 auto
        letter-spacing: 4px
        z-index: 2
        background-color: rgba(255, 255, 255, 0.3)
        border: 10px solid hsla(255,255,255,0.3)
        padding: 1em 1.5em

    #sub-title
        text-align: center
        color: white
        text-shadow: 2px 1px 2px #333
        letter-spacing: 0.5px

.content
    height: 70vh
    padding: 50px 0
    max-width: 80vw
    text-align: center
    margin: 0 auto
    z-index: 1

    &.presentation
        display: flex
        flex-direction: column
        color: #FE667B
        font-family: "Raleway"
        font-weight: light

    &.skills
        background-color: royalblue
        display: flex

        >.large-container
            background-color: deepskyblue
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center
            height: 100%
            width: 100%

            >.small-container
                background-color: yellow
                width: 200px
                height: 250px

    &.testimonies
        background-color: violet

    &.contact
        background-color: #333
