@import fonts
@import mobile
@import placeholders
@import text-effects
@import scrollbar
@import navigation
@import animation
@import jsClasses

html
    @extend %html_body_defaults

    body
        @extend %html_body_defaults
        @include font-smoothing(on)
        overflow-y: auto


*
    &::after, &::before
        box-sizing: border-box

#home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: relative
    height: 100vh
    background-color: white
    //background-image: url(../../img/bg7.png)
    color: $shadow
    position: relative
    transition: height 1s ease
    font-family: 'Raleway', sans-serif

    //animation: bg-color-change 6s linear 0s infinite alternate running
        // size: cover
        // //image: url(../../img/tam.jpg)
        // color: $peach
        // position: top center
        // attachment: fixed

    #greeting
        width: 100%
        text-align: left
        letter-spacing: 0.2em
        padding-left: 5vw
        text-align: left
        align-self: flex-start
        height: 20vh
        transition: 0.3s ease

        & h3
            @extend %highlight
            display: block
            font-size: 1em
            //font-size: 1.5em
            // font-family: 'Source Sans Pro', sans-serif
            font-weight: 300
            letter-spacing: 0.13em
            text-transform: lowercase
            margin: 0.7vh 0

        & .text
            font-family: 'Raleway'
            color: $shadow
            font-size: 1em
            letter-spacing: 0.13em

            & .line
                display: block
                line-height: 1.55em

            & .line-composed
                display: inline-block !important

            & .highlight
                @extend %highlight

    & a.arrow-down
        text-decoration: none
        position: absolute
        bottom: -5vh
        opacity: 0
        transition: all 1s ease

        &.fadeInUp
            bottom: 10vh
            opacity: 1

        &:hover
            cursor: pointer

        &>i
            color: rgba(255, 82, 82, 0.25)
            // color: rgba(114, 112, 119, 0.28)

        // @media screen and (max-width: $break-small)
        //     text-align: left
        //     font-size: 2em
        //     padding-left: 15px
        //
        // @media screen and (max-width: $break-medium) and (orientation: landscape)
        //     text-align: center
        //     font-size: 2em
        //     padding-left: 0


        // #greeting
        //     transition: all 0.3s ease
        //     width: 90vw
        //     display: inline
        // #cursor
        //     width: 10vw
        //     animation: blink-cursor 0.8s linear infinite
        //     display: inline

.content
    color: $shadow
    height: 100vh
    width: 100vw
    position: relative

    &.blured
        filter: blur(4px)

    & span.word-large
        color: rgba(255, 82, 82, 1)
        max-width: 100vw
        font-family: 'Source Sans Pro', sans-serif
        font-weight: 900
        font-size: 7em
        position: absolute
        top: 0
        left: 0
        line-height: 0.75em
        opacity: 0.07

#experience

    & span.word-large
        transform: rotate(90deg) translate(40%, 170%)

#contact
    background-color: #333

#about
    z-index: 10
    width: 100vw
    height: 100vh

    .word-large
        transform: rotate(90deg) translate(60%,130%)
        font-size: 10em

    & .text-wrapper
        @include flex('column', 'space-around')
        height: 100%
        width: 100%

        & h3
            // color: #F25B44
            color: #ff6c6c
            letter-spacing: 0.07em

        & .detail
            font-size: 1.1em
            font-family: 'Arsenal'
            text-align: justify
            padding: 0 8vh
            letter-spacing: 0.03em

            & span
                @extend %highlight

        // & .tldr
        //     font-size: 5em
        //     font-weight: bold
        //     align-self: center
        //     color: #ff6c6c
        //     text-shadow: 1px 1px 2px rgba(114, 112, 119, 0.8)

.wrapper-vertical-nav
    position: fixed
    right: 5vw
    height: 100%
    z-index: 9000

    & ul.vertical-nav
        position: absolute
        top: 42%
        //transform: translateY(-50%)
        list-style: none
        padding: 10px

        & .vertical-nav-item
            margin-bottom: 30px
            cursor: pointer

            & a
                transform-origin: center center
                display: inline-block
                width: 20px
                height: 20px
                border: 3px solid #e05858
                background-color: transparent
                border-radius: 50%
                transition: all .5s
                transform: scaleX(0.5) scaleY(0.5)
                outline: none


.flat-button
    @include flex('column', 'center')
    width: 10vw
    height: 9vw
    min-height: 50px
    max-width: 260px
    padding: 0
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
    background: #ff6c6c
    border: 0
    border-bottom: 4px solid #e05858
    cursor: pointer
    box-shadow: inset 0 -2px #e05858
    transform: translateY(0)
    transition: all 0.25s ease

    &:active
        transform: translateY(2px)
        outline: none
        box-shadow: none
    &>a
        color: white
        font-family: 'Arsenal',sans-serif
        font-weight: bold
        font-size: calc(#{$font-btn-min} + (#{$font-btn-max} - #{$font-btn-min})*(100vw - #{$min-screen-width})/(#{$max-screen-width} - #{$min-screen-width}))
        line-height: 5vw

    @media screen and (min-width: $break-medium)
         max-width: 230px
         max-height: 70px

         &>a
             line-height: 5vw
             font-size: 5vw
